*{
    padding:0;
    margin:0;
    box-sizing:border-box
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 90, 224);
    height:80px;
    width:100%; 
}
.top h1{
    color:#fff;
    font-size:2rem;
}
#table{
    width:80%;
    margin:80px auto;
    text-align:center;
    background-color:rgb(48, 51, 114);

}
#table tr>th{
    color:#fff;
    padding:10px;
}
#table tr>td{
    color:#ccc1c1;
    padding:30px 0 0 0 ;
    
}
.flexing{
display:flex;
justify-content: space-around;
align-items: center;

}
.flexing>ul>li{
    list-style:none;
    border:2px solid #000;
    margin-top:10px;
    background-color:rgb(48, 51, 114);
    color:#fff;
    padding:10px;
    border-radius:10px;

}
#btn{
    display: inline-block;
    border:none;
    padding:5px;
    position:absolute;
    top:80%;
    left:50%;
    transform: translate(-50%,-50%);
    cursor:pointer;
    background-color:#ccc1c1;
}
